* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
body {
    background-color: #000;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
.layout-frame {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@font-face {
  font-family: "FightThis";
  src: url("../fonts/FightThis.eot");
  src: local(※), url("../fonts/FightThis.woff") format("woff");
}
@font-face {
  font-family: "D2Coding";
  src: url("../fonts/D2Coding.eot");
  src: local(※), url("../fonts/D2Coding.woff") format("woff");
}